<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/assets/css/style.css">
    <title>Ошибка ввода</title>
</head>
<body>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <center>
                        <div class="alert alert-danger" role="alert">
                            Ошибка ввода!!!
                        </div>
                    </center>
                    <center><a style='text-decoration: none;' href="/buy">
                        <button class="my-4">
                            <span class="text">Вернуться обратно</span></button>
                    </a></center>
                </div>
</section>
</body>
</html>