<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/assets/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
        href="./static/css/assets/bootstrap/css/bootstrap.min.css?h=27bff64b94b49ea434ede55c145b3664">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/assets/css/styles.min.css?h=157460c4a3f764417623efbe8940e3a7">
    <link rel="stylesheet" href="./static/css/assets/css/style.css">
    <link rel="shortcut icon" href="/static/css/assets/img/prevy.jpg">
    <title>Анализ акции</title>
</head>

<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration"
                        style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
                        <form method=post enctype=multipart/form-data>
                            <div class="input-group mb-3">
                                <input type="text" name=patern class="form-control" placeholder="Введите SHORTNAME"
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <input type=submit class="btn btn-outline-secondary" value=Анализировать>
                            </div>
                            <center>
                                <div class="my-4">{{ name }}</div>
                            </center>
                        </form>
                        <center>
                            <div>В данный момент: {{ result }}</div>
                        </center>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-5">
                                <button class="my-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><span
                                        class="text">shortname</span></button>
                            </div>

                            <div class="col-5" style="padding-left: 5%;">
                                <a style='text-decoration: none;' href="/">
                                    <button class="my-4" style="border-radius: 8px;">
                                        <span class="text">Главная</span>
                                    </button>
                                </a>
                            </div>
                            <div class="col-1"></div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">SHORTNAME</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ABIO - iАРТГЕН ао<br>
                                        ABRD - АбрауДюрсо<br>
                                        ACKO - АСКО ао<br>
                                        AFKS - Система ао<br>
                                        AFLT - Аэрофлот<br>
                                        AGRO - AGRO-гдр<br>
                                        AKRN - Акрон<br>
                                        ALRS - АЛРОСА ао<br>
                                        AMEZ - АшинскийМЗ<br>
                                        APRI - АПРИ<br>
                                        APTK - Аптеки36и6<br>
                                        AQUA - ИНАРКТИКА<br>
                                        ARSA - Арсагера<br>
                                        ASSB - АстрЭнСб<br>
                                        ASTR - Астра ао<br>
                                        AVAN - Авангрд-ао<br>
                                        BANE - Башнефт ао<br>
                                        BANEP - Башнефт ап<br>
                                        BELU - НоваБев ао<br>
                                        BISVP - БашИнСв ап<br>
                                        BRZL - БурЗолото<br>
                                        BSPB - БСП ао<br>
                                        BSPBP - БСП ап<br>
                                        CARM - СТГ<br>
                                        CBOM - МКБ ао<br>
                                        CHGZ - РН-ЗапСиб<br>
                                        CHKZ - ЧКПЗ ао<br>
                                        CHMF - СевСт-ао<br>
                                        CHMK - ЧМК ао<br>
                                        CIAN - CIAN-адр<br>
                                        CNTL - Телеграф<br>
                                        CNTLP - Телеграф-п<br>
                                        DATA - iАренадата<br>
                                        DELI - iКаршеринг<br>
                                        DIAS - iДиасофт<br>
                                        DIOD - ЗаводДИОД<br>
                                        DVEC - ДЭК ао<br>
                                        DZRD - ДонскЗР<br>
                                        DZRDP - ДонскЗР п<br>
                                        EELT - ЕвроЭлтех<br>
                                        ELFV - ЭЛ5Энер ао<br>
                                        ELMT - Элемент<br>
                                        ENPG - ЭН+ГРУП ао<br>
                                        ETLN - ETLN-гдр<br>
                                        EUTR - ЕвроТранс<br>
                                        FEES - Россети<br>
                                        FESH - ДВМП ао<br>
                                        FIXP - FIXP-гдр<br>
                                        FLOT - Совкомфлот<br>
                                        GAZC - ГАЗКОН-ао<br>
                                        GAZP - ГАЗПРОМ ао<br>
                                        GAZS - ГАЗ-сервис<br>
                                        GAZT - ГАЗ-Тек ао<br>
                                        GCHE - ЧеркизГ-ао<br>
                                        GECO - iГЕНЕТИКО<br>
                                        GEMA - iММЦБ ао<br>
                                        GEMC - МКПАО ЮМГ<br>
                                        GMKN - ГМКНорНик<br>
                                        GTRK - ГТМ ао<br>
                                        HEAD - Хэдхантер<br>
                                        HIMCP - Химпром ап<br>
                                        HNFG - ХЭНДЕРСОН<br>
                                        HYDR - РусГидро<br>
                                        IGST - Ижсталь2ао<br>
                                        IGSTP - Ижсталь ап<br>
                                        INGR - ИНГРАД ао<br>
                                        IRAO - ИнтерРАОао<br>
                                        IRKT - Яковлев-3<br>
                                        IVAT - iИВА<br>
                                        JNOS - Славн-ЯНОС<br>
                                        JNOSP - Слав-ЯНОСп<br>
                                        KAZT - Куйбазот<br>
                                        KAZTP - Куйбазот-п<br>
                                        KBSB - ТНСэКубань<br>
                                        KCHE - КамчатЭ ао<br>
                                        KCHEP - КамчатЭ ап<br>
                                        KGKC - КурганГКао<br>
                                        KGKCP - КурганГКап<br>
                                        KLSB - КалужскСК<br>
                                        KLVZ - Кристалл<br>
                                        KMAZ - КАМАЗ<br>
                                        KMEZ - КМЗ<br>
                                        KOGK - КоршГОК ао<br>
                                        KRKN - СаратНПЗ<br>
                                        KRKNP - СаратНПЗ-п<br>
                                        KRKOP - ТКЗКК ап<br>
                                        KROT - КрасОкт-ао<br>
                                        KROTP - КрасОкт-1п<br>
                                        KRSB - Красэсб ао<br>
                                        KRSBP - Красэсб ап<br>
                                        KUBE - РСетКубань<br>
                                        KUZB - КузнецкийБ<br>
                                        KZOS - ОргСинт ао<br>
                                        KZOSP - ОргСинт ап<br>
                                        LEAS - Европлан<br>
                                        LENT - Лента ао<br>
                                        LKOH - ЛУКОЙЛ<br>
                                        LMBZ - Ламбумиз<br>
                                        LNZL - Лензолото<br>
                                        LNZLP - Лензол. ап<br>
                                        ABIO - iАРТГЕН ао<br>
                                        ABRD - АбрауДюрсо<br>
                                        ACKO - АСКО ао<br>
                                        AFKS - Система ао<br>
                                        AFLT - Аэрофлот<br>
                                        AGRO - AGRO-гдр<br>
                                        AKRN - Акрон<br>
                                        ALRS - АЛРОСА ао<br>
                                        AMEZ - АшинскийМЗ<br>
                                        APRI - АПРИ<br>
                                        APTK - Аптеки36и6<br>
                                        AQUA - ИНАРКТИКА<br>
                                        ARSA - Арсагера<br>
                                        ASSB - АстрЭнСб<br>
                                        ASTR - Астра ао<br>
                                        AVAN - Авангрд-ао<br>
                                        BANE - Башнефт ао<br>
                                        BANEP - Башнефт ап<br>
                                        BELU - НоваБев ао<br>
                                        BISVP - БашИнСв ап<br>
                                        BRZL - БурЗолото<br>
                                        BSPB - БСП ао<br>
                                        BSPBP - БСП ап<br>
                                        CARM - СТГ<br>
                                        CBOM - МКБ ао<br>
                                        CHGZ - РН-ЗапСиб<br>
                                        CHKZ - ЧКПЗ ао<br>
                                        CHMF - СевСт-ао<br>
                                        CHMK - ЧМК ао<br>
                                        CIAN - CIAN-адр<br>
                                        CNTL - Телеграф<br>
                                        CNTLP - Телеграф-п<br>
                                        DATA - iАренадата<br>
                                        DELI - iКаршеринг<br>
                                        DIAS - iДиасофт<br>
                                        DIOD - ЗаводДИОД<br>
                                        DVEC - ДЭК ао<br>
                                        DZRD - ДонскЗР<br>
                                        DZRDP - ДонскЗР п<br>
                                        EELT - ЕвроЭлтех<br>
                                        ELFV - ЭЛ5Энер ао<br>
                                        ELMT - Элемент<br>
                                        ENPG - ЭН+ГРУП ао<br>
                                        ETLN - ETLN-гдр<br>
                                        EUTR - ЕвроТранс<br>
                                        FEES - Россети<br>
                                        FESH - ДВМП ао<br>
                                        FIXP - FIXP-гдр<br>
                                        FLOT - Совкомфлот<br>
                                        GAZC - ГАЗКОН-ао<br>
                                        GAZP - ГАЗПРОМ ао<br>
                                        GAZS - ГАЗ-сервис<br>
                                        GAZT - ГАЗ-Тек ао<br>
                                        GCHE - ЧеркизГ-ао<br>
                                        GECO - iГЕНЕТИКО<br>
                                        GEMA - iММЦБ ао<br>
                                        GEMC - МКПАО ЮМГ<br>
                                        GMKN - ГМКНорНик<br>
                                        GTRK - ГТМ ао<br>
                                        HEAD - Хэдхантер<br>
                                        HIMCP - Химпром ап<br>
                                        HNFG - ХЭНДЕРСОН<br>
                                        HYDR - РусГидро<br>
                                        IGST - Ижсталь2ао<br>
                                        IGSTP - Ижсталь ап<br>
                                        INGR - ИНГРАД ао<br>
                                        IRAO - ИнтерРАОао<br>
                                        IRKT - Яковлев-3<br>
                                        IVAT - iИВА<br>
                                        JNOS - Славн-ЯНОС<br>
                                        JNOSP - Слав-ЯНОСп<br>
                                        KAZT - Куйбазот<br>
                                        KAZTP - Куйбазот-п<br>
                                        KBSB - ТНСэКубань<br>
                                        KCHE - КамчатЭ ао<br>
                                        KCHEP - КамчатЭ ап<br>
                                        KGKC - КурганГКао<br>
                                        KGKCP - КурганГКап<br>
                                        KLSB - КалужскСК<br>
                                        KLVZ - Кристалл<br>
                                        KMAZ - КАМАЗ<br>
                                        KMEZ - КМЗ<br>
                                        KOGK - КоршГОК ао<br>
                                        KRKN - СаратНПЗ<br>
                                        KRKNP - СаратНПЗ-п<br>
                                        KRKOP - ТКЗКК ап<br>
                                        KROT - КрасОкт-ао<br>
                                        KROTP - КрасОкт-1п<br>
                                        KRSB - Красэсб ао<br>
                                        KRSBP - Красэсб ап<br>
                                        KUBE - РСетКубань<br>
                                        KUZB - КузнецкийБ<br>
                                        KZOS - ОргСинт ао<br>
                                        KZOSP - ОргСинт ап<br>
                                        LEAS - Европлан<br>
                                        LENT - Лента ао<br>
                                        LKOH - ЛУКОЙЛ<br>
                                        LMBZ - Ламбумиз<br>
                                        LNZL - Лензолото<br>
                                        LNZLP - Лензол. ап<br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

    </section>

</body>

</html>