<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>YoungTrader</title>
    <link rel="stylesheet"
        href="./static/css/assets/bootstrap/css/bootstrap.min.css?h=27bff64b94b49ea434ede55c145b3664">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/assets/css/styles.min.css?h=157460c4a3f764417623efbe8940e3a7">
    <link rel="stylesheet" href="./static/css/assets/css/style.css">
    <link rel="shortcut icon" href="/static/css/assets/img/prevy.jpg">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark"
        style="background: linear-gradient(to bottom right, black, rgb(66, 61, 61))" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">YoungTrader</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul>
            </div>
        </div>
    </nav>
    <header id='headdder' class="masthead"
        style="background-image:url('./static/css/assets/img/header-bg.jpg?h=0cd3bdd95808fc7f01944e066dfb000d');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span></span></div>
                <div class="intro-heading text-uppercase"><span style="font-size: 40px;">Проведи анализ акций прямо
                        сейчас!</span></div>
            </div>
        </div>
    </header>
    <section class="bg-light">
        <div class="container">

            <center>
                <div class="card text-bg-white mb-3 border-color-black" style="max-width: 30rem; text-align: center;">
                    <div class="card-header"><strong>Важно знать!!!</strong></div>
                    <div class="card-body">
                        <p class="card-text" style="text-align: left;">
                            <strong>Восходящий тренд</strong> - Каждая последующая вершина и впадина превосходит по
                            размеру предыдущую.<br>
                            <strong>Нисходящий тренд</strong> - Новая вершина и впадина ниже предшествующей.<br>
                            <strong>Боковой тренд</strong> - Приблизительно одинаковый уровень вершин и впадин.<br>
                        </p>
                    </div>
                </div>
            </center>

            <div class="row">
            </div>
            <center>
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                <a style='text-decoration: none;' href="/buy"><button class="my-4"><span class="text">Начать
                            анализ</span> </button></a></div>
                    <div class="col-4"></div>

                </div>
            </center>

        </div>
    </section>
    <section class="bg-light">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <p class="text-uppercase" style="font-size: 250%;">Разработчик</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="team-member my-4"><img class="rounded-circle mx-auto"
                            src="./static/css/assets/img/team/2.jpg?h=12f62dffbad828e74dc674782c8b0c59">
                        <h4>
                            Дмитрий Олегович</h4>
                        <p class="text-muted">CEO директор YoungTrader ©</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="https://t.me/KharitonovDO"><i
                                        class="fa fa-paper-plane"></i></a></li>
                            <li class="list-inline-item"><a href="https://vk.com/id742288496"><i
                                        class="fa fa-vk"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="https://github.com/kharitonovdo"><i
                                        class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./static/css/assets/js/script.min.js?h=ecc440ce2b35a6ed59fbd6e54cc9f308"></script>
</body>

</html>